* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.container-register {
    background-color: rgb(216, 220, 253);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
}

.register-form {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}

.form-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 2em;
}

.m-2 {
    margin: 2em;
}

.btn {
    border: 0;
    padding: 0 1em;
    border-radius: 10px;
    font-weight: 600;
    margin-top: auto;
}

.btn-primary {
    color: white;
    background-color: rgb(10, 10, 63);
}

.btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

input {
    height: 30px;
    border-radius: 5px;
    border: 0;
    border-bottom: 4px solid silver;
}

table {
    border-collapse: collapse;
    width: 80vw;
    text-align: center;
    margin: 2em;
}

tr {
    text-align: center;
    vertical-align: center;
}

th {
    background-color: rgb(221, 221, 221);
    padding: 8px;
}

.conBtn {
    font-size: 0.8rem;
    border-radius: 5px;
    margin-bottom: 3px;
    margin-top: 2px;
    border: 1px solid #000;
    width: 80px;
    height: 25px;
}

#btn5 {
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .container-register {
        flex-direction: column;
        align-items: center;
    }

    .register-form {
        flex-direction: column;
    }

    .form-control {
        margin-left: 0;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        margin-left: 0;
        font-size: 0.4rem;
    }

    th {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
        background-color: #f2f2f2;
    }

    .conBtn {
        font-size: 0.3rem;
        border-radius: 5px;
        margin-bottom: 3px;
        margin-top: 2px;
        border: 1px solid #000;
        width: 30px;
        height: 25px;
    }
}